body{
    color: #333333;
}
header{
    display: block;
    display: flex;
    width: 1318px;
    margin: 0 auto;
}
header img{
    margin: 24px;
}
header .pcmenu{
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.1em;
    font-family: Noto Serif JP;
    width: 629px;
    display: flex;
    justify-content: space-between;
    margin-top: 32.42px;
    margin-right: 24px;
    margin-left: 289px;
}
.gMenu{
    display: none;
}
main{
    font-family: Noto Sans JP;
    letter-spacing: 0.1em;
}
main .img{
    display: block;
    margin: 0 auto 160px;
    width: 1366px;
    height: 545px;
    object-fit: cover;
}
main h1{
    text-align: center;
    font-family: Noto Serif JP;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 16px;
}
main h2{
    color: #223E69;
    text-align: center;
    font-family: Noto Serif JP;
    font-size: 16px;
    margin-bottom: 48px;
}
main p img{
    margin-bottom: 160px;
}
main .concept{
    margin-bottom: 160px;
}
main .concept h3{
    width: 336px;
    margin: 0 auto;
    font-size: 28px;
    margin-bottom: 24px;
}
main .concept p{
    width: 1020px;
    margin: 0 auto;
    line-height: 32px;
} 
main .service{
    width: 1020px;
    margin: 0 auto 160px auto;
}
main .service .servicecontents{
    font-family: Noto Sans JP;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
main .service .servicecontents section{
    justify-content: center;
    line-height: 1.5;
    letter-spacing: 0.1em;
}
main .service .servicecontents section h3{
    text-align: center;
    font-family: Noto Serif JP;
    font-size: 24px;
    margin: 16px 0;
}
main .service .servicecontents section .more{
    text-align: right;
}
main .flow{
    margin-bottom: 160px;
    background-color: rgba(34, 62 , 105, 0.05);
    width: 1366px;
    height: 498px;
    margin: 0 auto;
    padding: 48px;
    margin-bottom: 160.36px;
}
main .flow h2{
    color: #B71B26;
}
main .flow .flowcontents{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .flow .flowcontents .tri{
    margin: 0 41px;
}
main .flow .flowcontents .flowtext{
    background-color: #333333;
    border-radius: 60px;
    writing-mode: vertical-rl; 
    width: 60px;
    height: 280px;
    padding: 16px;
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    font-weight: medium;
}
main .qanda p{
    width: 1020px;
    height: 52px;
    font-size: 20px;
    line-height: 1.5;
}
main .qanda{
    margin-bottom: 160px;
}
main .qanda .Q1{
    margin-bottom: 48px;
}
main .qanda .question{
    background-color: #333333;
    border-radius: 50%;
    color: #ffffff;
    font-family: Noto Serif JP;
    font-size: 34px;
    font-weight: bold;
    width: 50px;
    padding: 0 10px;
}
main .qanda .answer{
    background-color: #B71B26;
    border-radius: 50%;
    color: #ffffff;
    font-family: Noto Serif JP;
    font-size: 34px;
    font-weight: bold;
    width: 50px;
    padding: 0 10px;
}
main .qanda .a{
    display: flex;
    justify-content: center;
    gap: 8px;
}
main .qanda .q{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.contact{
    background-color: rgba(34, 62, 105, 0.15); 
    padding-top: 42.72px;
    padding-bottom: 60.64px;
    width: 1366px;
    height: 1212px;
    margin: 0 auto;
}
form{
    background-color: rgba(255, 255, 255, 0.5);
    width: 1020px;
    height: 1000px;
    margin: 0 auto;
    padding: 48px;
    font-family: "Noto Sans JP";
}

form .form br{
    display: none;
}
form p{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
}

form label{
    width: 238px;
    text-align: right;
    margin-right: 8px;
}


form .radio input{
    width: 24px;
    height: 24px;
}

form .required{
    width: 58px;
    height: 24px;
    margin: 0 12px 0 8px;
    background-color: #B71B26;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 3px 8px;
}

form input{
    background-color: #ffffff;
    width: 222px;
    height: 52px;
}
form .input1 {
    margin-right: 356px;
    position: right;
}
form .input1 input{
    width: 332px;
}
form .input1 {
    margin-right: 24px;
}
form .input2 input{
    width: 664px;
}
form .input2 input .titleaskinput{
    height: 208px;
}
form p button{
    background-color: #333333;
    width: 300px;
    height: 68px;
    font-family: Noto Serif JP;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin: 48px 360px;
}







footer p{
    display: block;
    background-color: #333333;
    margin-top: 211.57px;
    padding: 24px;
    color: #ffffff;
    font-family: Noto Serif JP;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 24px auto;
}


@media screen and (max-width: 768px){
    header{
    width: 100%;
    }
    header .logo{
        width: 240px;
        margin-top: 16px;
        margin-left: 12px;
    }
    main .img{
        display: block;
        width: 100%;
        height: 480px;
        margin: 0 auto 48px;
        object-fit: cover;
    }
    header .pcmenu{
        width: 50px;
        display: none;
    }
    .gMenu {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    }
    /* メニューアイコンを画面右上に固定しています */
    .gMenu .menu-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
    padding-top: 5px;
    height: 12px;
    }
    /* メニューアイコン（三本線）の真ん中の線です */
    .gMenu .menu-icon .navicon {
    background: #B71B26; /* 色は自由に変更可能です */
    display: block;
    height: 2px; /* 太さ */
    width: 31px; /* 長さ */
    position: relative;
    transition: background .4s ease-out; /* 形が変わる時のアニメーション */
    }
    /* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
    .gMenu .menu-icon .navicon::before,
    .gMenu .menu-icon .navicon::after {
    background: #B71B26; /* 色は自由に変更可能です */
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .4s ease-out; /* 形が変わる時のアニメーション */
    width: 100%;
    }
    .gMenu .menu-icon .navicon::before {top: 10px;} /* 位置を上にずらしています */
    .gMenu .menu-icon .navicon::after {top: -10px;} /* 位置を下にずらしています */
    /* 表示されるメニューです */
    .gMenu .menu {
    background-color: rgba(255,255,255,0.9);
    overflow: hidden;
    max-height: 0; /* ★最初は高さを0にして非表示状態に */
    transition: max-height .6s; /* 表示されるときのアニメーション */
    text-align: center;
    }
    /* メニュー部分のデザインです */
    .gMenu .menu li:first-of-type {
    padding-top: 50px;
    }
    .gMenu .menu li a {
    display: block;
    padding: 24px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Noto Serif JP;
    }
    .gMenu .menu li a:hover {
    background-color: #f4f4f4;
    }
    /* チェックボックスは常に非表示です */
    .gMenu .menu-btn {
    display: none;
    }
    /* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
    .gMenu .menu-btn:checked ~ .menu {
    max-height: 500px; /* ★チェックボックスがオンの時高さを338pxにして表示させます */
    transition: max-height .6s;
    }
    /* メニューボタンの中央の線を非表示に */
    .gMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}

    /* メニューボタンの上下の線を45度傾けて✕印を作ります */
    .gMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-45deg);top: 0;}
    .gMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(45deg);top: 0;}

    main h1{
    text-align: center;
    width: 100%;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 8px;
    } 
    main h2{
    text-align: center;
    width: 100%;
    font-size: 12px;
    margin-bottom: 24px;
    }

    main .concept h3{
    text-align: center;
    width: 240px;
    font-size: 20px;
    margin-top: 24px;
    }
    main .concept p{
    width: 351px;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 80px;
    } 
    main .concept{
        margin-bottom: 80px;
    }
    main .service .servicecontents section h3{
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin: 8px 0;
    }
    main .service{
    width: 100%;
    margin: 0 auto 80px auto;
    }
    main .service .servicecontents{
    font-size: 14px;
    display: block;
    }
    main .service img{
    width: 351px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    }
    main .service p br{
    display: none;
    }
    main .service p{
    width: 351px;
    margin: 0 auto;
    }
    main .flow{
    background-color: rgba(34, 62 , 105, 0.05);
    width: 100%;
    height: 456px;
    padding: 1px;
    margin-bottom: 80px;
    }
    main .flow h2{
    margin-bottom: 24px;
    }
    main .flow .flowcontents{
    flex-direction: column;
    margin-top: 24px;
    }
    main .flow .flowcontents .flowtext{
    width: 300px;
    height: 32px;
    padding: 8px;
    font-size: 16px;
    writing-mode: horizontal-tb; 
    margin-right: 8px;
    text-align: center;
    }
    main .flow .flowcontents .tri{
    transform: rotate(90deg);
    width: 16px;
    height: 32px;
    margin-left: 8px;
    margin: auto;
    }

    main .qanda p{
    width: 351px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    }
    main .qanda .question{
        background-color: #333333;
        border-radius: 50%;
        color: #ffffff;
        font-family: Noto Serif JP;
        font-size: 20px;
        font-weight: bold;
        width: 40px;
        height: 40px;
        padding: 6px 10px;
        
    }
    main .qanda .answer{
        background-color: #B71B26;
        border-radius: 50%;
        color: #ffffff;
        font-family: Noto Serif JP;
        font-size: 20px;
        font-weight: bold;
        width: 40px;
        height: 40px;
        padding: 6px 10px;
    }
    main .qanda .Q1{
        margin-left: 12px;
    }
    main .qanda .Q2{
        margin-left: 12px;
    }
    .contact{
    background-color: rgba(34, 62, 105, 0.15); 
    width: 100%;
    height: 912px;
    margin: 0 auto;
    }

    .contact h1{
        margin-top: 16px;
    }
    form{
    display: block;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 912px;
    padding: 12px;
    }
    form .form br{
    display: block;
    }
    form p{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    }
    form .input12{
        position: left;
    }
    form .radio input{
        width: 24px;
        height: 24px;
        align-items: center;
    }    
    form .required{
        width: 40px;
        height: 18px;
        margin: 4px;
        background-color: #B71B26;
        border-radius: 8px;
        font-size: 10px;
        font-weight: bold;
        color: #ffffff;
        padding: 2px 6px;
    }
    form input{
        width: 125px;
        height: 30px;
        margin-top: 8px;
    }
    form .input1 input{
        background-color: #ffffff;
        width: 351px;
        height: 30px;
        margin-top: 8px;
    }
    form .input2 input{
        background-color: #ffffff;
        width: 351px;
        height: 30px;
        margin-top: 8px auto;    
    }
    form .input12{
        margin: 8px auto 0;       
    }
    form .input2 {
        margin-top: 1px;
    }
    form p button{
        width: 200px;
        height: 48px;
        font-size: 16px;
        letter-spacing: 0.1em;
        color: #ffffff;
        font-weight: bold;
        padding: 16px 10px;
        margin: 0 auto;
        display: block;
    }
}
}